/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: rgb(200, 196, 192);
}

.fake-txt {
  font-size: larger;
  font-weight: 400;
}

#user-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#add-minus-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

#exercise-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#display-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
